<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<!-- @include ../modules/page-head.html -->
<body>

<div class="container-fluid">
  <div class="row">
    <section class="col-md-3">
      <h1 class="time"></h1>
      <h2 class="day"></h2>
      <h3 class="date"></h3>
    </section>
    <section class="col-md-6">
      <h1>Magic Portrait</h1>
      <div class="canvas-container">
        <video autoplay></video>
        <img src="">
        <canvas style="display:none;"></canvas>
      </div>
    </section>
    <section class="col col-md-3">
      <div class="weather-info">
        <h1 class="weatherTemp"></h1>
        <span class="weatherIcon"><img src="" /></span>
        <h2 class="weatherMain"></h2>
      </div>
    </section>
  </div>
</div>

  <!-- @include ../modules/page-foot.html -->
</body>
</html>

