<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<!-- @include ../modules/page-head.html -->
<body>

<div class="wrapper">
<!--   <video id="webCamWindow" autoplay></video>
    <div id="movement"></div> -->
  <div class="painting">
    <div class="rain"></div>
    <img src="images/american_gothic.jpg" />
    <div class="woman">
      <span class="eye left"></span>
      <span class="eye right"></span>
    </div>
    <div class="man">
      <span class="eye left"></span>
      <span class="eye right"></span>
    </div>
  </div>
</div>

  <!-- @include ../modules/page-foot.html -->
</body>
</html>

