body {   
/*    background: url(imgs/engineering-graph-sheets-crumpled-notebook-paper-290334.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: #fff;
    font-family: "Walter Turncoat", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #ff0000;
}


.wrapper {
    position: relative;
    margin: 0 auto;
    padding: 2em;
}

.canvas-container {
    width: 60%;
    margin: 0 auto;
    min-height: 500px;
    background-color: #333;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.middle {
    width: 50%;
    margin: 0 2.5%;
}

.left, .right {
    width: 20%;
}

h1, h2, h3 {
    font-weight: 300;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* Date/Time */

.time, .day, .date {   
  font-size: 3em;
  margin: 0 1em;
}


.header { 
  width: 100%;
  margin: 0 auto;
}


